<div>
  <mat-toolbar class="fixed-header" color="primary">
    <mat-toolbar-row>
      <!--<a href="/" > Eat & Greeth </a>-->
      <span style="cursor:pointer" routerLink="/home" (click)="homeitself()">Eat-N-Greet</span>

      <span class="example-spacer"></span>

      <button mat-button [matMenuTriggerFor]="dropdownoptions">Dropdown<mat-icon>keyboard_arrow_down</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-menu #dropdownoptions="matMenu">
    <!-- <button mat-menu-item routerlink='/login' routerlinkActive="active" (click)="logout()">Logout</button> -->
    <button mat-menu-item routerlink='/My-orders' routerlinkActive="active" (click)="orders()">My-orders</button>
    <button mat-menu-item routerlink='/postAMeal' routerlinkActive="active" (click)="postMeal()">Post-A-Meal</button>
    <button mat-menu-item routerlink='/My-wallet' routerlinkActive="active" (click)="wallet()">Wallet</button>
  </mat-menu>
</div>
<div>
  <form [formGroup]="mealForm" (ngSubmit)="compareServingAndReservationDates()">
    <div class="mat-card-cvr">

      <!-- Number of consumers to be served -->
      <mat-form-field floatLabel="auto" appearance="standard">
        <mat-label>Number of pax</mat-label>
        <input type="number" formControlName="noOfPax" matInput required min="1">
      </mat-form-field>

      <!-- Price per person -->
      <mat-form-field floatLabel="auto" appearance="standard">
        <mat-label>Price (SGD)</mat-label>
        <input type="number" formControlName="price" matInput required min="1">
      </mat-form-field>

      <!-- Serving Date -->
      <!-- <mat-form-field>
        <input type="date-local" formControlName="servingDate" matInput required placeholder="Serving date" 
          useValueAsDate>
      </mat-form-field> -->
      <mat-form-field>
        <input matInput required [min]="today" [matDatepicker]="servingDatePicker" placeholder="Serving Date"
          formControlName="servingDate">
        <mat-datepicker-toggle matSuffix [for]="servingDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #servingDatePicker></mat-datepicker>
      </mat-form-field>

      <!-- Serving Time -->
      <!-- <input class="col-md-5 end" matInput name="end" formControlName="start" type="time"> -->
      <mat-form-field>
        <input type="time" formControlName="servingTime" matInput required placeholder="Serving time">
      </mat-form-field>

      <!-- Reservation Deadline Date -->
      <!-- <mat-form-field>
        <input type="date-local" formControlName="reservationDate" matInput required
          placeholder="Reservation Deadline Date" useValueAsDate>
      </mat-form-field> -->
      <mat-form-field>
        <input matInput required [min]="today" [matDatepicker]="reservationDatePicker" placeholder="Reservation Deadline Date"
          formControlName="reservationDate">
        <mat-datepicker-toggle matSuffix [for]="reservationDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #reservationDatePicker></mat-datepicker>
      </mat-form-field>

      <!-- Reservation Deadline Time -->
      <!-- <input class="col-md-5 end" matInput name="end" formControlName="start" type="time"> -->
      <mat-form-field>
        <input type="time" formControlName="reservationTime" matInput required placeholder="Reservation Deadline Time">
      </mat-form-field><br/>

      <!-- Preference Type -->
      <mat-label>Preference *</mat-label><br/>
      <mat-radio-group color="primary" formControlName="preference">
        <mat-radio-button value="1">Dine-In</mat-radio-button><br/>
        <mat-radio-button value="2">Take-Away</mat-radio-button>
      </mat-radio-group>

      <!-- Items-->
      <mat-form-field class="example-chip-list">
        <mat-chip-list #itemList aria-label="Item selection">
          <mat-chip *ngFor="let selectedItem of selectedItems" [selectable]="selectable" [removable]="removable"
            (removed)="remove(selectedItem)">
            {{selectedItem}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New item..." #itemInput [formControl]="itemCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="itemList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let filteredItem of filteredItems | async" [value]="filteredItem">
            {{filteredItem}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button color="primary" style="margin-right:5px;"> POST MEAL </button>
    </div>
  </form>
</div>